.d_background{
    background-color:#F1F1F1;
    padding: 20px;
    font-family: 'Poppins';
}
.d_fdiv{
  width: 82%;
  margin-left: 9%;
  margin-bottom: 5%;
}
.d_accde{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.d_tablecontainer{
    margin: 15px 0px 100px 0px;
    background-color: white;
    padding: 20px 20px 5px 20px;
}
.d_tablecontainer td:first-child {
    width: 25%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.d_tablecontainer td:nth-child(2) {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:#616161;
}
.d_linkcontainer{
    margin: 15px 0px 400px 0px;
    background-color: white;
    padding: 30px 20px 30px 20px;
}
.d_fdiv button{
    display: block;
    padding: 20px 20px 15px 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
.d_linkcontainer button{
    padding: 12px 20px 12px 20px;
}