.container-fluid {
  background-color: #F1F1F1;
  padding: 2px 20px 200px; 
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.sell-assets {
  margin: 0 90px 200px;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  position: relative;

  width: 82%; /* Add this line to set the width */
  margin-left: 9%; /* Add this line to set the left margin */

}

.error-message {
  display: flex;
  color: red;
  font-weight: 400;
  justify-content: center;
}

.sell-asset-title h4 {
  margin-left: 9%; 
  margin-top: 30px;
  font-style: normal;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;

}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

.form-group label {
  display: none;
}

.styled-input {
  width: 60%;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.styled-input:focus {
  outline: none;
  border-color: #348B81;
}

.required-star {
  position: absolute;
  top: 55%;
  right: 38%;
  color: red;
  font-size: 20px;
  transform: translateY(-50%);
}

.required-star-des {
  position: absolute;
  top: 21%;
  right: 38%;
  color: red;
  font-size: 20px;
  transform: translateY(-50%);
}

.required-star-price {
  position: absolute;
  bottom:0%;
  left: 9.5%;
  color: red;
  font-size: 20px;
  transform: translateY(-50%);
}

.upload-container {
  height: 150px;
  border: 2px dashed black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border-style: dashed;
  border-width: 2px;
}

.styled-select {
  font-family: Poppins;
  width: 100%;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
  appearance: none;
  background-color: #fff;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;

  text-align: center;
}

.styled-select:focus {
  outline: none;
  border-color: #348B81;
}

.file-input {
  background-color: #ffffff;
  color: #000000;
  margin-left: 60px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  outline: none;
  display: inline-block;
}

.file-input:hover {
  background-color: #348B81;
  color: #ffffff;
}

.file-label {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 30px;
  border: 2px solid #000000;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  outline: none;
  display: inline-block;
}

.file-label:hover {
  border: none;
  background-color: #348B81;
  color: #ffffff;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.select-container {
  position: relative;
  display: inline-block;
  width: 15%;
}

.select-chevron {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
.s_inputStyling{
  margin:0px 20px;
}
.s_inputStyling label{

  font-weight: 400;

}
.s_inputStyling input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #D9D9D9;
  border-radius: 20px;
  margin-left:20px;
  position: relative;
}

.s_inputStyling input[type="radio"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color:#D9D9D9;
}

.s_inputStyling input[type="radio"]:checked::before {
  background-color: #348B81;
}

.form-group-wrapper {
  display: flex;
  display: column;
}
.card-element-container {
  width: 40%;
}
.s-buttoncontainer{
  flex-direction: column;
  width:40%;

}
.list-asset-wrapper button{
  background-color: #348B81;
  border: none;
  border-radius: 25px;
  padding:10px 30px;
  width: 15%;
  margin-left: 43%;

}
.list-asset-wrapper button:hover{
  background-color: #2b7169;
}
.list-asset-wrapper{
  justify-content: center;
  width: 100%;
}
