/* .card{

} */

.card .storepagecard{
  background-color:white;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem;
  height: 445px;
}

.card .authorpagecard{
  background-color:white;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem;
  height: 415px;
}

.card .storeimgcontainer{
  height:280px;
  overflow: hidden;
  background-color: #616161;
}
.card .authorimgcontainer{
  height:260px;
  overflow: hidden;
  background-color: #616161;
}
.card img {
  height: 100%; /* 图片高度设置为100%以填满父容器 */
  width: 100%; /* 图片宽度自适应 */
  object-fit: cover;
  
}
.card .productcontainer p {
  max-width: 100%;
  padding: 0.2rem;
  text-decoration: underline;
  color: black;
  display: inline-block;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  }
.card h5{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  
}
.card p {
    margin-bottom: 1rem;
    color:#616161;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

  }
.card .price span{
  vertical-align: super;
  color: black;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
.card .price h1{
  color: black;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: right;

}
.card .contentcontainer{
  margin:20px;
}
.card .cardtextcon{
  width:70%;
}

@media (max-width: 1400px) {
  .card .storepagecard{
    background-color:white;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0.5rem;
    height: 500px;
  }
  
  .card .storeimgcontainer{
    height:280px;
    overflow: hidden;
    background-color: #616161;
  }
  .card .authorpagecard{
    background-color:white;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0.5rem;
    height: 550px;
  }
  .card .authorimgcontainer{
    height:260px;
    overflow: hidden;
    background-color: #616161;
  }
  .card .productcontainer p {
    max-width: 45%;
    padding: 0.2rem;
    text-decoration: underline;
    color: black;
    display: inline-block;
  
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  
    }
}

