.purchase-layout {
  background-color: #F1F1F1;
  padding: 20px;
  font-family: 'Poppins';
}

.purchase-layout h1 {
  color: #000;
  margin-bottom: 10px;
}

.purchase-layout h2 {
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.purchase-assets {
  width: 82%;
  margin-left: 9%;
  margin-bottom: 20%;
}

.p-assets-container {
  background-color: #fff;
  padding: 3% 5%;
  border-radius: 4px;

}
.p-sco{
  max-height: 520px;
  overflow-y: auto;
  white-space: nowrap;
}
.p-sco::-webkit-scrollbar {
  width: 8px;
  margin-right: 5px;
}

.p-sco::-webkit-scrollbar-thumb {
  margin-right: 5px;
  background-color:rgb(79, 79, 79);
  border-radius: 5px;
}

.p-sco::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.assets-container p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.asset-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.asset-image {
  flex: 0 0 250px;
  margin-right: 20px;
  height:150px;
  overflow: hidden;
  background-color: #616161;
}

.asset-image img {
  height: 100%;
  width: 100%; 
  object-fit: cover;
}

.asset-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.asset-details button{
  vertical-align: top;
  display: inline;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin:1px 0px;
  padding: 0%;
}
.asset-details h3 {
  margin: 0;
}

.asset-details p {
  margin: 1.5px 0;
}

.asset-details a {
  margin-top: 1px;
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

.asset-details a:hover {
  text-decoration: underline;
}
