.selling-layout {
  background-color: #F1F1F1;
  padding: 20px;
  font-family: 'Poppins';
}

.selling-layout h2 {
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.selling-assets {
  width: 82%;
  margin-left: 9%;
  margin-bottom: 5%;
}

.total-earnings {
  width: 82%;
  margin-left: 9%;
  margin-bottom: 20%;
}

.assets-container {
  background-color: #fff;
  padding: 3% 5%;
  border-radius: 4px;
}

.assets-container p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.asset-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.asset-image {
  flex: 0 0 250px;
  margin-right: 20px;
  height:150px;
  overflow: hidden;
  background-color: #616161;
}

.asset-image img {
  height: 100%;
  width: 100%; 
  object-fit: cover;
}

.asset-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.asset-details h3 {
  margin: 0;
}

.asset-details p {
  margin: 1.5px 0;
}

.asset-details .asset-links a,
.asset-details .asset-links button {
  margin-top: 1px;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.total-earnings {
  margin-top: 40px;
}

.asset-name-category {
  flex: 1;
  margin-right: 20px;
}

.asset-price-sold {
  flex: 1;
  margin-right: 20px;
}

.asset-price-sold p {
  margin: 1px 0;
}

.asset-total {
  flex: 1;
  text-align: right;
}

.total-earnings-sum {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: bold;
}
.selling-scroll-container{
  max-height: 350px;
  overflow-y: auto;
  white-space: nowrap;
}
.selling-scroll-container::-webkit-scrollbar {
  width: 8px;
  margin-right: 5px;
}

.selling-scroll-container::-webkit-scrollbar-thumb {
  margin-right: 5px;
  background-color:rgb(79, 79, 79);
  border-radius: 5px;
}

.selling-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
.earnings-scroll-container{
  max-height: 520px;
  overflow-y: auto;
  white-space: nowrap;
  padding-right: 30px;
}
.earnings-scroll-container::-webkit-scrollbar {
  width: 8px;
  margin-right: 5px;
}

.earnings-scroll-container::-webkit-scrollbar-thumb {
  margin-right: 5px;
  background-color:rgb(79, 79, 79);
  border-radius: 5px;
}

.earnings-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}