/* Add Review Window CSS */
.add-review-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-review-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}

.add-review-container h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.add-review-container input[type="text"],
.add-review-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: Poppins;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
}

.edit-review:focus {
  outline: none;
  border-color: #348B81;
  box-shadow: 0 0 0 0.1rem #348B81;
}

.add-review-container button {
  background-color: #348b81;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.add-review-container button:hover {
  background-color: #2b716a;
}

.add-review-container .cancel-button {
  background-color: #ccc;
  color: #333;
  margin-left: 10px;
  border-radius: 25px;
}

.add-review-container .add-button {
  border-radius: 25px;
}
.add-review-container button:disabled {
  background-color: #5e5e5e;
  border: 2px solid #5e5e5e;
  cursor: not-allowed;
  color: #fff;
}

.add-review-container .cancel-button:hover {
  background-color: #b3b3b3;
}

/* Rating CSS */
.rating-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.rating-container label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 10px;
}

.star-rating {
  display: flex;
  font-size: 0;
  position: relative;
  flex-direction: row-reverse;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  display: inline-block;
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
}

.star-rating label:before {
  content: "★";
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #f0c14b;
}






