.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
}
.modal .cartcontainer{
    width:30%;
    top: 18vh;
    position: absolute;
    color:aliceblue;
    background:linear-gradient(180deg, #000000 0%, #001614 48.96%, #000000 100%, #000000 100%);
    padding: 1.5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}
.modal .profilecontainer{
    width:30%;
    top: 18vh;
    position: absolute;
    color:aliceblue;
    background:linear-gradient(180deg, #000000 0%, #001614 48.96%, #000000 100%, #000000 100%);
    padding: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}
.modal h2{
    height: 24px;
    width: 211px;
    font-size: 16px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

}
.modal h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.modal img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
}
.modal li{
    padding: 10px;
}
.modal h5{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: right;

}
.modal span{
    color: white;
    font-family: Poppins;
    font-weight: 600;
    line-height: 36px;
}
.modal .totalprice h1{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: right;

}
.modal .totalprice span{
    vertical-align: super;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}
.modal p{
    padding: 0px 5px 0px 20px;
    color:#616161;
    margin: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.modal .btt{
    margin-top: 20px 15px 20px 0px;
    color: white;
    box-sizing: border-box;
    width: 181px;
    height: 46px;
    background: #348B81;
    border: 2px solid #348B81;
    border-radius: 50px;
}
.modal .disabled{
    margin-top: 20px 15px 20px 0px;
    color: white;
    box-sizing: border-box;
    width: 181px;
    height: 46px;
    background: #5e5e5e;
    border: 2px solid #5e5e5e;
    border-radius: 50px;
    cursor: not-allowed;
}
.modal .cate_color{
    color: white;
}
.modal .pic_d{
    display: inline-block;
    width: 100px;
    height: 59px;
}
.modal .intro_d{
    display: inline-block;
    width: 140px;
    height: 48px;
}
.modal .icon{
    background-color:#F48686;
    border-radius:50%;
    margin-top:-30px;
    color:black;
}
.modal .icon:hover{
    cursor: pointer; 
}
.modal .price{
    position: relative;
    top: -10px; 
    display: inline;
    line-height: 30px;
}
.modal .price h1{
    margin-left: 25px;
    display: inline;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: right;
}
.modal .price span{
    vertical-align: super;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-right: 20px;

}
.modal .bottom{
    margin-top: 15px;
}
.modal .c_con{
    margin-right: 20px;
    margin-bottom: 10px;
}
.modal .totalprice{
    margin-right: 15px;
} 
.modal ul{
    margin-left: 10px;
    overflow-y: auto;
    white-space: nowrap;
    max-height: 300px;
    margin-bottom: 8px;
  }
.modal ul::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  
.modal ul::-webkit-scrollbar-thumb {
    background-color:rgb(79, 79, 79);
    border-radius: 5px;
  }
  
.modal ul::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }

.modal ul::-webkit-scrollbar-corner {
    background-color:transparent;
}
@media (min-width: 768px) {
    .modal .cartcontainer{
        width: 485px;
        right: 12%;
    }
    .modal .profilecontainer{
        width: 275px;
        right: 10%;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}