.cards-item {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;    
}
img {
    border: 2px;
    color: white;
}

.cards-item-info > * {
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin-bottom: -5px;
}
@media screen and (max-width: 980px) {
    .cards-item {
        width: 265px;
    }
}