.landing-page-container{
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
      
}
.video-background {
    object-fit: cover;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
}
#tsparticles {
    left: -50;
    top:0;
    width: 100vw;
    height:100%;
    position: absolute;
}

.black-overlay {
    background-color: black;
    width: 100%;
    height: 200vh;
    position: fixed;
    z-index: -1;
    opacity: 0; /* Set the initial opacity to 0 */
  }
  

.landing-page-logo {
    width: 100%;
    float: left;
    font-size: 72px !important;
    color: #FFFFFF;
    text-align: center;
}
  
.landing-page-main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-button {
    margin-top: 20px;
    border-radius: 40px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    width: 15vw;
    box-shadow: none;
    border-style: solid;
    /* Add of frontend fixes */
    color: rgb(255, 255, 255); /* Change the text color to white */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Add transition for hover effect */
}

.description-button:hover {
  background-color: #348B81;
  border-color: #348B81;
  color: white; /* Change the text color to white when hovering */
}

.get-started-button {
    margin-top: 20px;
    border-radius: 40px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    width: 15vw;
    box-shadow: none;
    border-style: solid;
    /* Add of frontend fixes */
    color: rgb(255, 255, 255); /* Change the text color to white */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Add transition for hover effect */
}

.get-started-button:hover {
    background-color: #348B81;
    border-color: #348B81;
    color: white; /* Change the text color to white when hovering */
}

.landing-page-desc-talent {
    color: white;
    font-size: 72px;
    font-weight: 400;
    padding-top: 100px;
}
.landing-page-desc-wrapper {
    margin-top: 150px;
}

.wordContainer {
    position: relative;
}
  
.word {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}
  
.word.show {
    opacity: 1;
}

.landing-page-card-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
    height: 200vh;
}

.landing-page-card-wrapper {
    margin: 50px 0 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

/** Slide Animation**/
.landing-cycle-main-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes CycleWords {
    0% { opacity: 0; }
    8% { opacity: 1;}
    17% { opacity: 1;}
    25% { opacity: 0;}
}
.landing-cycle-main-text span {
    animation: CycleWords 6s ease-out infinite 0s;
    opacity: 0;
    overflow: hidden;
}
.landing-cycle-main-text span:nth-child(2) {
    animation-delay: 1.5s;
}
.landing-cycle-main-text span:nth-child(3) {
    animation-delay: 3s;
}
.landing-cycle-main-text span:nth-child(4) {
    animation-delay: 4.5s;
}
.landing-animate-students {
    color: #beffca;
    opacity: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.landing-animate-employers {
    color: #6bc99d;
    opacity: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.landing-animate-industries {
    color: #50cf5c;
    opacity: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.landing-animate-people {
    color: #348B81;
    opacity: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.landing-cycle-main-text{
    text-align: center;
    font-size: 72px;
    font-weight: 600;
    position: relative;
}


@media screen and (max-width: 980px) {
    .landing-page-main-wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
    .description-button {
        width: 100%; 
        margin-bottom: 5em;
    }
    .landing-page-card-wrapper {
        display: flex;
        flex-direction: column;
    }
    .get-started-wrapper {
        margin-left: 0%;
    }
}
  