.cards-item {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}
.cards-item-info > * {
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin-bottom: -3px;
}

@media screen and (max-width: 980px) {
    .cards-item {
        width: 265px;
    }
}