.store-navbar-container {
    width: 100%;
    height: 20vh;
    background: linear-gradient(180deg, #000000 0%, #001614 50.52%, #000000 100%);
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.store-navbar-container > * {
    color: white;
}


.store-navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
	  align-items: center;
    padding-top: 4vh;
}
.store-navbar-user-info {
  display: flex;
  align-self: end;
  margin-right: 10vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.store-navbar-user-info b {
  font-weight: 600;
}
.store-navbar-action-row {
    display: flex;
    width: 80%;
}
.brand-name {
    width: 80vw;
    font-size: 30px;
}
.brand-name a{
  text-decoration: none;
}

/* Modified for frontend fixes */
.store-page-sell-asset-btn{
    width: 8em;
    height: 3em;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border-style: solid;
    border-color: white; /* Make the border color white */
    margin: 0 0.6em;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Add transition for hover effect */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.store-page-sell-asset-btn:hover {
  background-color: #348B81;
  border-color: #348B81;
  color: white; /* Change the text color to white when hovering */
}

.cart-icon-wrapper:hover {
    cursor: pointer;
    color: grey;   
}
.menu-icon-wrapper:hover {
    cursor: pointer;
    color: grey;   
}
.cart-icon-wrapper {
    margin: 0 0.6em;
    padding-top: 6px;
    display: inline-block;
    position: relative;
  }
  
.cart-items-number {
    position: absolute;
    top: -1px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #C53D3D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.cart-items-number .items-number {
    color: white;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }
  
.menu-icon-wrapper {
    margin: 0 0 0.6em 0;
    padding-top: 6px;
}
.store-page-navbar-line {
    width: 80%;
    margin-left: 10%;
    color: white;
    border: none;
    border-top: 1.5px solid white;
    opacity: 100%;

}