.store-navbar-container {
    width: 100%;
    height: 20vh;
    background: linear-gradient(#000000, #00251e, #00231d, #000000, #000000);
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.store-navbar-container > * {
    color: white;
}


.store-navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    padding-top: 4vh;
}
.store-navbar-user-info {
    display: flex;
    align-self: end;
    margin-right: 10vw;
}
.store-navbar-action-row {
    display: flex;
    width: 80%;
}
.brand-name {
    width: 80vw;
    font-size: 30px;
}
.store-page-sell-asset-btn{
    width: 8em;
    height: 3em;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border-style: solid;
    margin: 0 0.6em;
}
.cart-icon-wrapper:hover {
    cursor: pointer;
    color: grey;   
}
.menu-icon-wrapper:hover {
    cursor: pointer;
    color: grey;   
}
.cart-icon-wrapper {
    margin: 0 0.6em;
    padding-top: 6px;
}
.menu-icon-wrapper {
    margin: 0 0 0.6em 0;
    padding-top: 6px;
}
.store-page-navbar-line {
    width: 80%;
    margin-left: 10%;
    color: white;
    border: none;
    border-top: 1.5px solid white;
    opacity: 100%;

}